$headerBackgroundColor: #395B74;
$headerTextColor: #fff;

$aboutSectionColor: #fff;
$experienceSectionColor: #EFEFEF;

$contentTextSize: 1.75vw;
$contentTextColor: #818382;
$contentLineHeight: 1.5;
$contentWordSpacing: 4px;

$bulletColor: #3B3B3B;

$contentHeaderTextSize: 2.75vw;
$contentHeaderTextColor: #818382;
$ContentHeaderBoarderBottom: 1px solid #818382;
$contentHeaderLetterSpacing: 4px;